@font-face {
    font-family: "Lazy Dog";
    src: url("https://db.onlinewebfonts.com/t/d22a5c6110565292f8e8d0726ffe157b.woff2")format("woff2");
  } 
@font-face {
  font-family: "ADLaM Display";
  src: url("https://fonts.cdnfonts.com/s/107475/ADLaMDisplay-Regular.woff")format("woff");
}
body {
    background-color: #ffffff;
    color: var(--primary-foreground);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    position: relative;
    font-size: calc(12px + 0.5vw);
  }
  .opening-heart-coki{
    width: 50%;
    max-width: 300px;
    height: auto;
    transition: transform 0.6s, opacity 0.6s;
    opacity: 1;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 1, 0.384));
    text-shadow: 0 20px 20px rgba(0, 0, 1, 0.384);
  }
.opening-heart-coki:hover{
  transform: scale(1.10);
}
.clickme{
  font-family: 'ADLaM Display';
  transition: transform 0.6s;
  cursor: default;
}
.clickme:hover{
  transform: scale(1.10);
}
body.pink-background{
    background-color: #DE8C94;
}
#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 0;
}
.mainContent{
  display: none;
  opacity: 1;
  transition: opacity 0.6;
}
body.pink-background .mainContent{
  display: block;
}
.coki-banner{
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s;
  margin: 0 auto;
  max-width: 600px;
}
.coki-banner:hover{
  transform: scale(1.10);
}
.coki-banner img{
  max-width: 100%;
  height: auto;
}
.main-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
  padding: 0;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  grid-template-areas:
        "about pricing samples"
        "form reviews";
}
.container{
    width: 75%;
    background-color: #ECECE6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.171);
    padding: 1em;
    border-radius: 10px;
    transition: transform 0.6s;
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: 'ADLaM Display', sans-serif;
    margin-top: 6px;
}
.container:hover{
  transform: scale(1.10);
}

.container.about { grid-area: about; }
.container.pricing { grid-area: pricing; }
.container.samples { grid-area: samples; }
.container.form { grid-area: form; }
.container.reviews { grid-area: reviews; }

a:link, a:visited, a:hover, a:active{
  color: #825357;
  text-decoration: none;
}
.link-footer{
  position: fixed;
  bottom: 2%;
  right: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.6s;
  z-index: 3;
  max-width: 60px;
  width: 80%;
}
.link-footer:hover{
  transform: scale(1.10);
}
.fb-logo{
  max-width: 60px;
  width: 80%;
  height: auto;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 1, 0.164));
}
@media (max-width: 768px) {
  .coki-banner {
      width: 90%;
  }
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
        "about"
        "pricing"
        "samples"
        "form"
        "reviews";
}
  .container{
    width: 80%;
    margin: 0 auto 10px;
  }
  .coki-banner:hover{
    transform: scale(1.03);
  }
}
@media (max-width: 480px) {
  .coki-banner {
      width: 100%;
  }
  .link-footer {
      width: 100px;
  }
}