@font-face {
  font-family: "Lazy Dog";
  src: url("https://db.onlinewebfonts.com/t/d22a5c6110565292f8e8d0726ffe157b.eot");
  src: url("https://db.onlinewebfonts.com/t/d22a5c6110565292f8e8d0726ffe157b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d22a5c6110565292f8e8d0726ffe157b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d22a5c6110565292f8e8d0726ffe157b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d22a5c6110565292f8e8d0726ffe157b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d22a5c6110565292f8e8d0726ffe157b.svg#Lazy Dog")format("svg");
}
:root {
    --background: #DE8C94;
    --foreground: #CD6D76;
    --card: #CD6D76;
    --card-foreground: hsl(0, 0%, 100%);
    --primary: #CD6D76;
    --primary-foreground: hsl(240, 5.9%, 10%);
    --muted-foreground: hsl(0, 0%, 100%);
  }
  body {
    background-color: var(--background);
    color: var(--primary-foreground);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    position: relative;
  }
  .container {
    max-width: 400px;
    width: 100%;
    background-color: var(--card);
    color: var(--card-foreground);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.171);
    padding: 17px;
    border-radius: 10px;
    transition: transform 0.6s;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 400px;
    position: relative;
  }
  .container:hover {
    transform: scale(1.10);
  }
  .header {
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 9px;
  }
  .name {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .review {
    font-size: 0.875rem;
    color: var(--muted-foreground);
    margin-bottom: 12px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .date {
    font-size: 0.75rem;
    color: var(--muted-foreground);
  }
  .container-logo{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.171);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
  }
  .logo{
    width: 100px;
    height: 35px;
  }
.link-footer{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 180px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.fb-logo{
  width: 30px;
  height: auto;
}
.coki-fb-link{
  color: #ffffff;
  font-family: 'Lazy Dog', sans-serif;
  font-size: 35px;
  font-weight: 1000;
  letter-spacing: 1px;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
